@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #f6faff;
}

.civic {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #002b3a;
  font-weight: 100;
}

.heading {
  font-family: "Poppins", sans-serif;
}

.account-progress-dot {
  border-radius: 100px;
  left: 0%;
  transition: left 4s;
  transition-timing-function: ease-in-out;
}

.account-banner {
  padding: 0px;
  height: 0px;
  transition: all 1s;
  margin: 0px;
}

.account-banner-visible {
  height: 300px;
}

.handbox {
  border-radius: 1000px;
}

.handbox i {
  animation: hand 2s;
  transition: all 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}

.account-banner .ab-box {
  transition: left 0.5s;
}

.position-1 {
  left: -60%;
}

.position-2 {
  left: 0;
}

.position-3 {
  left: 50%;
}

.position-4 {
  left: 110%;
}

@keyframes hand {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.steel-gradient {
  /* background: linear-gradient(132deg, rgba(41, 57, 80, 1) 0%, rgba(40, 47, 63, 1) 100%); */
  background: linear-gradient(349deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.alt-x-label text {
  font-size: 18px;
  fill: white;
}

.alt-y-label text {
  font-size: 18px;
  fill: white;
}

.notifications {
  z-index: 500;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.w-70 {
  width: 20rem;
}

.civic span {
  font-weight: 600;
}

.border-r-1 {
  border-right-width: 1px;
}

.main-nav {
  @apply block mb-8 text-steel-100 no-underline text-4xl;
}

.top-nav {
  @apply block p-2 text-steel-100 no-underline text-lg;
}

.top-nav.active {
  border-color: #1ba9be;
  border-width: 0px;
  border-right-width: 3px;
  border-left-width: 3px;
  color: #1ba9be;
}

.top-nav.active i {
  color: #1ba9be;
}

.input {
  @apply border w-full mb-3 mt-1 p-2 outline-none rounded;
}

.input:focus {
  @apply outline-none;
}

.buy-sell-selectors {
  @apply w-1/2 font-semibold cursor-pointer;
}

.btn {
  @apply py-2 px-3 text-center rounded-sm border cursor-pointer;
}

.btn-blue {
  @apply btn bg-blue-500 text-blue-200 border-blue-700;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-red {
  @apply btn bg-red-500 text-red-200 border-red-700;
}

.btn-red:hover {
  @apply bg-red-700;
}

.btn-green {
  @apply btn bg-green-500 text-green-200 border-green-700;
}

.btn-green:hover {
  @apply bg-green-700;
}

.btn-gray {
  @apply btn bg-gray-500 text-gray-100 border-gray-700;
}

.main-nav.active {
  border-color: #1ba9be;
  border-width: 0px;
  border-right-width: 3px;
  color: #1ba9be;
}

.main-nav.active i {
  color: #1ba9be;
}

.border-steel-300 {
  border-color: #1ba9be;
  border-width: 1px;
}

.row-cell {
  @apply border-b p-2;
  border-color: #5c2655;
}

.row-cell-l {
  @apply row-cell border-r-0;
}

.row-cell-r {
  @apply row-cell p-2;
}

.order-row .delete-order {
  display: none;
}

.order-row:hover .delete-order {
  display: block;
  cursor: pointer;
}

#menu {
  transition: all 0.5s;
  margin-left: 0;
}

#menu .blue-panel {
  transition: opacity 0.5s;
  opacity: 1;
}

#menu.closed .blue-panel {
  opacity: 0;
}

#menu.closed {
  background-color: #dae1e7;
}

.summary-icon-box {
  @apply flex-shrink p-3 mr-5 bg-blue-500 text-blue-100 rounded;
}

#close-button {
  transition: transform 0.5s;
}

#menu .menu-icon {
  transform: translateX(0px);
  transition: transform 0.5s;
}

#menu.open .menu-icon {
}

#menu.closed .menu-icon {
}

.balances div {
  transition: font-size 0.1s;
}

/* The Modal (background) */
.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.DayPickerInput input {
  border: 1px solid #dae1e7;
  padding: 0.5rem;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.faa-flash {
  animation: flash 1s ease infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .order-list > tbody > tr:not(.text-gray) {
  background-color: green;
} */

/*.order-list tbody :nth-child(1 of tr:not(.text-gray)) { background-color: green; } */
